* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.top {
    padding-top: 40px;
}

.header {
    margin-bottom: 84px;
    display: flex;
    align-items: center;
    gap: 500px;
}

/* .top__menu {
    padding-top: 11px;
    padding-bottom: 11px;
} */

.top__logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 14px;
}

.company_name {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company_name_second_part {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__menu {
    width: 533px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.top__menu_text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__menu_home {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content {
    margin-bottom: 162px;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
}

.title {
    margin-bottom: 17px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 522px;
}

.text {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
}

.top__buttons {
    margin-top: 37px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 72px;
}

.button__start_now {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__watch_video {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__image {
    width: 544px;
    height: 374px;
}

.top__logos {
    padding-top: 97px;
    padding-bottom: 96px;
    display: flex;
    justify-content: flex-start;
    gap: 48px
}

.top__logo {
    width: 160px;
    height: 50px;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.features__item {
    width: 310px;
    padding-bottom: 25px;
    padding-top: 40px;
}

.big {
    padding-left: 30px;
    margin-left: 61px;
    margin-right: 59px;
    width: 370px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features__title {
    margin-top: 25px;
    margin-bottom: 17px;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features__text {
    width: 310px;
    color: #666;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.features__link {
    margin-top: 25px;
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
}

.services {
    padding-bottom: 100px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__heading {
    margin-top: 92px;
    margin-bottom: 19px;
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services__text {
    margin-bottom: 55px;
    color: #666;
    width: 682px;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.services__items {
    display: flex;
    gap: 30px;
}

.services__item {
    width: 370px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.item_big {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.services__item_heading {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.services__item_text {
    margin-top: 22px;
    margin-bottom: 39px;
    width: 310px;
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-bottom: 50px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #F25822;
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 19.5px */
}